<script type="text/template" id="todo">
  <h4>{{ title }}</h4>
  <div class="date left">
  {{ created_at }}
  <span>Status: {{ status }}</span>
  <span>Priority: {{ priority }}</span>
  </div>
  <div class="actions right">
    <a class="tiny button" href="#">Show</a>
    <a class="tiny button" href="#">Delete</a>
  </div>
</script>
<script type="text/template" id="cats">
<li>
    <a href="" data-cat="{{ category }}">{{ category }}</a>
</li>
</script>

<script type="text/template" id="todo_form">
<form class="bbf-form">
<fieldset>
<ul>
<li class="bbf-field">
  <label for="c41_title">Title</label>
  <div class="bbf-editor">
    <input id="c41_title" name="title" type="text">
  </div>
</li>
<li class="bbf-field">
  <label for="c41_priority">Priority</label>
  <div class="bbf-editor">
    <select id="c41_priority" name="priority">
      <option>low</option>
      <option>medium</option>
      <option>urgent</option>
    </select>
  </div>
</li>
<li class="bbf-field">
  <label for="c41_category">Category</label>
  <div class="bbf-editor">
    <select id="c41_category" name="category">
      <option>untitled</option>
      <option>new category</option>
      <option>personal</option>
      <option>office</option>
    </select>
  </div>
</li>
</ul>
</fieldset>
<input type="button" id="new_todo_submit" value="Save" class="small button" />
</form>
</script>

  <div class="row">
    <div class="twelve columns">
      <h2>BACKBONE TODO</h2>
      <p>v 0.0.0</p>
      <hr />
    </div>
  </div>
  <div class="row" id="todo_app_main">
    <div class="eight columns">
      <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text">
            </div>
            <div class="two mobile-one columns">
              <a class="button expand postfix">Search</a>
            </div>
          </div>
      <ul class="button-group radius" id="status_filter">
        <li><a href="#" class="button radius active" data-status="all">All</a></li>
        <li><a href="#" class="button radius" data-status="Completed">Completed</a></li>
        <li><a href="#" class="button radius" data-status="Not-Completed">Uncompleted</a></li>
      </ul>
      <div class="tasks" id="todo_list">

      </div>
    </div>
    <div class="four columns">
      <p>
        <a href="#" class="button" id="new_todo">New Todo</a>
      </p>
      <h4>Categories <a href="#" id="show_all_cats">(show all)</a></h4>
      <ul id="categories" class="cats">
        <li>
          <a href="" data-cat="all" class="">All</a>
        </li>
      </ul>
    </div>
  </div>
<script type="text/javascript">
var boot_todos = <%=@tasks.to_json%>;
</script>