<script type="text/template" id="todo">
  <h4>{{ title }}</h4>
  <div class="date left">created_at</div>
  <div class="actions right">
    <a class="tiny button" href="#">Show</a>
    <a class="tiny button" href="#">Delete</a>
  </div>
</script>


  <div class="row">
    <div class="twelve columns">
      <h2>BACKBONE TODO</h2>
      <p>v 0.0.0</p>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text">
            </div>
            <div class="two mobile-one columns">
              <a class="button expand postfix">Search</a>
            </div>
          </div>
      <ul class="button-group radius">
        <li><a href="#" class="button radius">All</a></li>
        <li><a href="#" class="button radius">Completed</a></li>
        <li><a href="#" class="button radius">Uncompleted</a></li>
      </ul>
      <div class="tasks" id="todo_list">

      </div>
    </div>
    <div class="four columns">
      <p>
        <a href="" class="button">New Todo</a>
      </p>
      <ul class="accordion">
                <li class="">
                  <div class="title">
                    <h5>Personal</h5>
                  </div>
                  <div class="content" >
                   <ul>
                    <li>
                      <a href="http://www.zurb.com/jobs/198-lookout-mobile-security-senior-front-end-engineer" target="_blank">
                        Senior Front-End Engineerncisco
                      </a>
                    </li>
                    <li>
                      <a href="http://www.zurb.com/jobs/198-lookout-mobile-security-senior-front-end-engineer" target="_blank">
                        Senior Front-End Engineerncisco
                      </a>
                    </li>
                    <li>
                      <a href="http://www.zurb.com/jobs/198-lookout-mobile-security-senior-front-end-engineer" target="_blank">
                        Senior Front-End Engineerncisco
                      </a>
                    </li>
                    </ul>
                  </div>
                </li>
      </ul>
    </div>
  </div>
