<script type="text/template" id="todo">
  <h4>{{ title }}</h4>
  <div class="date left">
  {{ created_at }}
  <span>Status: {{ done ? "Completed" : "Not-Completed"}}</span>
  <span>Priority: {{ priority }}</span>
  </div>
  <div class="actions right">
    <a class="tiny button" href="#">Show</a>
    <a class="tiny button" href="#">Delete</a>
  </div>
</script>
<script type="text/template" id="cats">
<li>
    <a href="" data-cat="{{ category }}">{{ category }}</a>
</li>
</script>

  <div class="row">
    <div class="twelve columns">
      <h2>BACKBONE TODO</h2>
      <p>v 0.0.0</p>
      <hr />
    </div>
  </div>
  <div class="row" id="todo_app_main">
    <div class="eight columns">
      <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text">
            </div>
            <div class="two mobile-one columns">
              <a class="button expand postfix">Search</a>
            </div>
          </div>
      <ul class="button-group radius">
        <li><a href="#" class="button radius">All</a></li>
        <li><a href="#" class="button radius">Completed</a></li>
        <li><a href="#" class="button radius">Uncompleted</a></li>
      </ul>
      <div class="tasks" id="todo_list">

      </div>
    </div>
    <div class="four columns">
      <p>
        <a href="" class="button">New Todo</a>
      </p>
      <ul id="categories" class="cats">
        <li><h4>Categories</h4></li>
      </ul>
    </div>
  </div>
<script type="text/javascript">
var boot_todos = <%=@tasks%>;
</script>