.todo{
  border-bottom: 1px dashed #ccc;
  float: left;
  width: 100%;
  padding: 10px;
}
ul li{
  margin: 5px 0px;
}
.done{
  background: #dfe;
}
.cats { margin-bottom: 0px; }
.cats li { list-style: none; margin-bottom: 12px; }
.cats a{
  padding: 4px 10px;
  display: block;
}
.cats a.active{
  background: #39f;
  color: #fff;
}
#status_filter a.active{
  background: #1e728c;
}

